#project-photo-section {
    width: 60%;
    margin: 100px auto;

    img {
        width: 100%;
    }
}
#main-section-Pages{
    width: 100%;
    min-height: 200px;
}

@media(max-width:550px) {
    .container-fluid #main-section-Pages {
        margin-bottom: 80px;
        .title {
            margin-top: 20px;
            font-size: 2rem;
        }

        .subtitle {
            font-size: 1.5rem;
        }
    }

    #project-photo-section {

        width: 80%;
        margin: 100px auto;

        img {
            width: 100%;
        }
    }
}